* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    text-transform: uppercase;
    font-family:'Quicksand', sans-serif;
}

header h1 {
    text-align: center;
    margin-top: 10px;
}

.wrapper {
    position: relative;
    display: block;
    width: 502px;
    margin: 50px auto;
    border: 1px solid black;
    overflow: hidden;
    
#draggable {
    position: absolute;
    top: 7%;
    left: 3%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 1em;
    border-radius: 50%;
    background-image: url(https://media.giphy.com/media/4GDliBrmcmuFa/giphy.gif);
    // background-color: rgb(240, 132, 93);
    background-size: cover;
    text-align: center;
    animation-name: kameha;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    

    p {
        font-size: 11px;
        color: black;
    }
}

.goku, .badGuy {
    width: 80px;
    object-fit: contain;

}
  
  @keyframes kameha {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  


.square {
    background-color: #b9f6ca;
    height: 100px;
    width: 100px;
    border: 1px solid whitesmoke;
    float: left;
    text-align: center;
    box-sizing: border-box;
}


.highlighter { 
    // background-image: url(https://media.giphy.com/media/lhDv3q1sW9ruU/giphy.gif);
    // background-size: contain;
    background-color:#F7FE2E;
//     transform: rotate(90deg);
//     background-repeat: no-repeat;
//     z-index: -10;
}
}
