* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    text-transform: uppercase;
    font-family:'Quicksand', sans-serif;
}

header h1 {
    text-align: center;
    margin-top: 10px;
}

.wrapper {
    position: relative;
    display: block;
    width: 502px;
    margin: 50px auto;
    border: 1px solid black;
    overflow: hidden;
    
#draggable {
    position: absolute;
    top: 2%;
    left: 2%;
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 1em;
    border-radius: 50%;
    background-color: yellowgreen;
    text-align: center;

    p {
        font-size: 15px;
        color: black;
    }
}

.square {
    background-color: #b9f6ca;
    height: 100px;
    width: 100px;
    border: 1px solid whitesmoke;
    float: left;
    text-align: center;
    box-sizing: border-box;

    &:hover {
        background: #F39814;
    }
}

}
